//глобал
.h7 {
  font-size: 0.75rem;
}

//навигация

header .logo {
  height: 68px;
  width: 123px;
}

.navbar-nav.nav-first-part .active,
.navbar-nav.nav-first-part .nav-item :hover,
.navbar-nav.nav-first-part .nav-item :active {
  color: $primary;
  text-decoration: underline;
}


.nav-second-part .nav-link {
  color: $white;
}

.nav-second-part .active,
.nav-second-part .nav-link:hover,
.nav-second-part .nav-link:active {
  color: $primary;
  text-decoration: underline;
}

//секция эсперимент
.experiment{
  margin-top: 180px;
}
.experiment .more a{
  text-decoration: underline;
  color: $primary;
  text-transform: uppercase;
}
.experiment .part-1{
  font-size: 6rem;
}
.experiment .image-bottle {


  @include media-breakpoint-up(sm) {
    @include make-col(12, 0);

  }
  @include media-breakpoint-up(lg) {
    width: 540px;
    height: 480px;

  }
}
.experiment .image-bottle img{
  object-fit: cover;
}



